*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

header{
    height: 100vh;
    width: 200vh;
    background-image: url(images/marigold-1568646_1280.jpg);
    background-size: cover;
}

.navbar {
    position: absolute;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo{
    font-size: 2cm;
    font-weight: bold;
}

.navbar .navlinks ul{
    display: flex;
}

.navbar .navlinks ul li{
    margin: 0 25px;
}

.navbar .navlinks ul li.active a{
    color: brown;
    font-weight: 600;
}

@media screen and (content: '\F0D4C';) {
    
}