*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url(images/marigold-1568646_1280.jpg);
    background-size: cover;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar .logo{
    font-size: 2cm;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    color: brown;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .nav-links{
        display: none;
    }
}